.biography-info{
  max-width: 700px;
  margin: 20px auto 0;
  padding: 20px;
  background: #FFF;
  border-radius: 5px;
  border: 2px solid #FFF;
}

.biography-info p{
  color: #928A92;
  line-height: 25px;
  margin-top: 5px
}

.biography-info a{
  color: #153B8E;
  font-weight: bold;  
  margin-top: 10px;
}