.biography-list{
  max-width: 700px;
  margin: 20px auto 0;
  padding: 0 20px; 
}

.biography-list article{
  background: #FFF;
  border: 2px solid #DDD;
  border-radius: 5px;
  padding: 20px; 
  margin-bottom: 15px;
}

.biography-description{
  font-size: 18px;
  color:#928A92;
  margin-top: 10px;
  line-height: 24px;
}


.biography-list article a{
  height: 40px;
  border-radius: 10px;
  border: 2px solid #153B8E;
  color: #153B8E;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

